datacenter = "veloslab"
data_dir = "/opt/consul"
encrypt = "dA7dEisJR9qpAOtkvVAyF7zIuWcs8f31jBh62SMc1EA="
ca_file = "/etc/consul.d/{{ca_file}}"
cert_file = "/etc/consul.d/{{cert_file}}"
key_file = "/etc/consul.d/{{key_file}}"
verify_incoming = true
verify_outgoing = true
verify_server_hostname = true

retry_join = ["velos-prime-1.crqdev.lan", "velos-prime-2.crqdev.lan", "velos-prime-3.crqdev.lan"]

auto_encrypt {
  allow_tls = true
}

acl = {
  enabled = true
  default_policy = "allow"
  enable_token_persistence = true
}

performance {
  raft_multiplier = 1
}
